@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



html{
    margin:0;
    padding: 0;
}

body {
    margin:0;
    color: #424242;
    width: 100vw;
    height: 100vh;
    
    
    
   
    
}

h1{
    text-transform: uppercase;
    margin-bottom:3em;
 }


h2{
    font-size: 16px;
    margin-bottom:-0.5em;
}

p {
    
   margin-top:-25px;
    
    
}

a{text-decoration: underline;
    color: #424242;
    
}

a::after {
    content: attr(href);
}


#refs p{
    margin-top:15px;
    text-align: left;
}


#estimated{
    margin-top: 5px;
}






#box1{
    width: 100vw;
    top:0;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
    position:absolute;
    float:left;
}

#boxcontent1{
    margin-top:0;
   top:0;
   margin-left:0;
    margin-right:66.6%;
    padding-left: 1em;
    padding-right: 1em;
    transform: translate3d(var(--move-initial), 0, 0);
   
    
    animation: credits 420s linear infinite;
    animation-delay: 3s; 
}

#box1 p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    text-indent: 20px;
}

#box1 h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    
}

#box1 h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    
}



#estimated1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

#box2{
    width: 100vw;
    top:0;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
    position:absolute;
    
}

#boxcontent2{
    margin-top:0;
   top:0;
   margin-left:33.3%;
    margin-right:33.3%;
    padding-left: 1em;
    padding-right: 1em;
   transform: translate3d(var(--move-initial), 0, 0);
   
    
    animation: credits 420s linear infinite;
    animation-delay: 3s;    
}

#box2 p {
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    line-height: 1.65;
    font-size: 16px;
    text-indent: 20px;
}

#box2 h1 {
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    line-height: 1.65;
    font-size: 16px;
    font-weight: bolder;
   
}

#box2 h2 {
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    line-height: 1.65;
    font-size: 16px;
   
}

#estimated2{
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    line-height: 1.65;
}



#box3{
    width: 100vw;
    top:0;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
    position:absolute;
}

#boxcontent3{
    margin-top:0;
   top:0;
   margin-left:66.6%;
    margin-right:0;
    padding-left: 1em;
    padding-right: 1em;
    transform: translate3d(var(--move-initial), 0, 0);
   
    
    animation: credits 420s linear infinite;
    animation-delay: 3s;  
    
}

#box3 p {
    font-family: "Times New Roman", Times New Roman, serif;
    font-size: 17.2px;
    line-height: 1.5;
    text-indent: 20px;
}

#box3 h1 {
    font-family: "Times New Roman", Times New Roman, serif;
    font-size: 16px;
    
}

#box3 h2 {
    font-family: "Times New Roman", Times New Roman, serif;
    font-size: 16px;
    
}

#estimated3{
    font-family: "Times New Roman", Times New Roman, serif;
    font-size: 17.5px;
    line-height: 1.5;
}




@keyframes credits {
 0% { transform: translateX(0); }
    100% { transform: translateY(-100%); }
}


